body {
    font-family: 'Roboto', sans-serif;
    color: $colour-black;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.7;
}

footer{
    background-color: #292929;
    color: white;
    padding: 30px;
    font-size: 18px;
    & div{
        display: flex;
        flex-direction: row;
        align-items: center;
        & p{
            margin-left: 20px;
        }
    }
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 1.6rem;
}

h3{

}

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
}