body {
    font-family: 'Roboto', sans-serif;
    color: $colour-black;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.7;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
}