.img_menu{
    width: 100%;
}
@keyframes plats {
    0%{
        opacity: 0;
        margin-top: 60px;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}
.fa-arrow-left{
    position: absolute;
    left: 20px;
    top: 10px;
}
.menu{
    background-color: #f2f2f2;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: -60px;
    div > article:nth-child(2){
        animation: plats;
        -webkit-animation: plats;
        animation-duration: 1s;
        animation-delay: .6s;
    }
    div > article:nth-child(3){
        animation: plats;
        -webkit-animation: plats;
        animation-duration: 1s;
        animation-delay: 1.2s;
    }
    div > article:nth-child(4){
        animation: plats;
        -webkit-animation: plats;
        animation-duration: 1s;
        animation-delay: 1.8s;
    }
    & button{
        @include btn;
        margin: 40px
    }
    position: relative;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    & .ctn-check{
        width: auto;
        background-color: $colour-accent;
        color: white;
        margin-right: -72px;
        padding: 24px;
        align-self: center;
        height: 100%;
        font-size: 24px;
        transition: all .4s;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -ms-transition: all .4s;
        -o-transition: all .4s;
}
    & h2{
        padding: 10px;
        font-size: 22px;
        font-family: Shrikhand;
        font-weight: bold;
        margin-left: 10px;
    }
    & .fa-heart{
        margin-right: 30px;
        font-size: 20px;
        background-repeat: no-repeat;
        background-size: 100% 0;
        transition: background-size .8s;
        -webkit-transition: background-size .8s;
        -moz-transition: background-size .8s;
        -ms-transition: background-size .8s;
        -o-transition: background-size .8s;
    }
    & .fa-heart:hover{
        background: -webkit-linear-gradient(#FF79DA, #9356DC);
        -webkit-background-clip: text;
        cursor: pointer;
        color: transparent;
        font-weight: 600;
        background-position-y: bottom;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    & article:hover .ctn-check{
        margin-right: 0px;
    }
    & .fa-check-circle{
        transition: all .6s;
        -webkit-transition: all .6s;
        -moz-transition: all .6s;
        -ms-transition: all .6s;
        -o-transition: all .6s;
}
    & article:hover .fa-check-circle{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
    & article{
        background-color: white;
        margin: 10px 0px;
        font-size: 15px;
        box-shadow: 2px 4px 7px #55555536;
        border-radius: 10px;
        display: flex;
        overflow: hidden;
        flex-direction: row;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        & .desc-plat, h4{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        & div{
            position: relative;
            padding: 10px;
            overflow: hidden;
            padding-right: 50px;
        }
        & .prix{
            position: absolute;
            right: 20px;
            bottom: 10px;
        }
}
    & .entree{
        text-transform: uppercase;
        font-size: 16px;
        width: fit-content;
        position: relative;
    }
    & .entree::after{
        content: "";
        width: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: $colour-accent;
    }
    & div{
        max-width: 90%;
        width: 90%;
        margin: auto;
    }
}