.img_menu{
    width: 100%;
}
.fa-arrow-left{
    position: absolute;
    left: 20px;
    top: 10px;
}
.menu{
    background-color: #f2f2f2;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: -60px;
    & button{
        @include btn
    }
    position: relative;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    & .fa-check-circle{
        background-color: $colour-accent;
        color: white;
        margin-right: -75px;
        padding: 24px;
        align-self: center;
        height: 100%;
        font-size: 24px;
        transition: all .4s;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -ms-transition: all .4s;
        -o-transition: all .4s;
}
    & h2{
        padding: 10px;
        font-size: 22px;
        font-family: Shrikhand;
        font-weight: bold;
        margin-left: 10px;
    }
    & .fa-heart{
        margin-right: 30px;
        font-size: 20px;
    }
    & article:hover .fa-check-circle{
        margin: 0;
    }
    & article{
        background-color: white;
        margin: 10px 0px;
        font-size: 15px;
        box-shadow: 2px 4px 7px #55555536;
        border-radius: 10px;
        display: flex;
        overflow: hidden;
        flex-direction: row;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        & div{
            position: relative;
            padding: 10px;
        }
        & .prix{
            position: absolute;
            right: 20px;
            bottom: 10px;
        }
}
    & .entree{
        text-transform: uppercase;
        font-size: 16px;
        width: fit-content;
        position: relative;
    }
    & .entree::after{
        content: "";
        width: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: $colour-accent;
    }
    & div{
        max-width: 90%;
        width: 90%;
        margin: auto;
    }
}